        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .container {
            max-width: 1360px;
            margin: 0 auto;
        }
        
        h1 {
            font-weight: normal;
            color: #FFFFFF;
        }
        
        h1,
        h2 {
            padding-bottom: 16px;
        }
        
        h3 {
            text-align: center;
            padding: 32px;
            color: #445161;
        }
        
        #header {
            background-color: #445162;
            color: #FFFFFF;
        }
        
        .information {
            padding: 48px;
        }
        
        .one {
            padding-left: 32px;
            list-style-image: url(img/first_icon.png);
            color: #FFFFFF;
        }
        
        .header_box {
            max-width: 100%;
            padding: 48px;
        }
        
        .header_picture {
            width: 100%;
        }
        
        #main {
            color: #6E7884;
        }
        
        .header-block {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-column-gap: 8px;
            grid-row-gap: 24px;
            justify-content: space-between;
            font-size: 20px;
            padding: 48px;
            background-color: #445162;
        }
        
        .about-product {
            display: grid;
            grid-template-columns: 55% 45%;
            grid-column-gap: 8px;
            grid-row-gap: 24px;
            justify-content: space-between;
            font-size: 20px;
            padding: 48px;
        }
        
        .first_picture {
            max-width: 100%;
            background-image: url('img/first_picture.jpg') no-repeat center top;
        }
        
        .first_box {
            justify-self: end;
        }
        
        .video-container {
            width: 100%;
            text-align: end;
        }
        
        embed {
            max-width: 100%;
            height: auto;
        }
        
        .pluses-product {
            padding: 48px;
            background-color: #F5F5F5;
        }
        
        .pluses-subsidiary {
            display: flex;
            flex-wrap: wrap;
        }
        
        .pluses_subsidiary {
            display: grid;
            grid-template-columns: 18% 30% 18% 30%;
            grid-column-gap: 8px;
            grid-row-gap: 24px;
        }
        
        .third_b {
            background: url('img/third_icon.jpg') no-repeat center top;
        }
        
        .product-description {
            padding-left: 32px;
            padding-bottom: 4%;
        }
        
        .content_b {
            background-color: #FFFFFF;
            color: #6E78A2;
        }
        
        .reviews-block {
            padding: 24px;
            background-color: #F5F5F5;
        }
        
        .fourth_subsidiary {
            display: flex;
            flex-wrap: wrap;
        }
        
        .cell {
            display: flex;
            width: 50%;
            padding-top: 16px;
            padding-right: 16px;
        }
        
        .content {
            padding-left: 16px;
        }
        
        .content_fourth {
            background-color: #EBEBEB;
            padding: 16px;
        }
        
        .fourth_icon {
            padding-left: 30px;
            padding-right: 24px;
        }
        
        .last {
            align-self: flex-end;
            width: 25%;
        }
        
        .fifth_subsidiary {
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
        }
        
        .last {
            margin: 16px;
            background-color: #445162;
        }
        
        .segment {
            color: #FFFFFF;
            text-align: center;
            padding: 15px;
        }
        
        .white {
            background-color: #FFFFFF;
            color: #445162;
            margin: 2px;
        }
        
        .price {
            color: #445162;
            text-align: center;
            padding: 2.5%;
            font-size: 40px;
        }
        
        .two {
            color: #FFFFFF;
            padding-top: 16px;
            padding-left: 36px;
            font-size: small;
            line-height: 170%;
        }
        
        .buy {
            width: 88%;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 20px;
            background-color: #FFFFFF;
            border-radius: 5px;
            text-align: center;
            padding: 3%;
            cursor: pointer;
        }
        
        a.buy {
            color: #6E7884;
        }
        
        footer {
            background-color: #445162;
            padding: 16px;
        }
        
        h4 {
            color: #6E7884;
            font-size: 20pxrem;
            text-align: start;
        }
        
        .contacts {
            color: #FFFFFF;
            text-align: center;
            font-size: 24px;
            padding-top: 25px;
        }
        
        .total {
            margin: 0;
            padding: 0;
            background-color: #445162;
        }
        
        .container-footer {
            padding: 2% 12% 2% 20%;
            display: grid;
            grid-template-columns: 3fr 2fr;
            background-color: #445162;
            grid-column-gap: 1rem;
            grid-row-gap: 1rem;
        }
        
        #name,
        #email,
        #message {
            margin-bottom: 20px;
            padding: 8px;
            background-color: #FFFFFF;
            border-radius: 5px;
            font-size: 16px;
            color: #6E7884;
            width: 95%;
        }
        
        button {
            width: 35%;
            background-color: #FFFFFF;
            color: #445162;
            border-radius: 5px;
            padding: 8px;
            cursor: pointer;
            margin-left: 30%;
        }
        
        #message {
            padding-bottom: 100px;
        }
        
        .your_message {
            padding-bottom: 100px;
        }
        
        .sr-only {
            display: none;
        }
        
        .contact-info {
            padding: 5px;
            background-color: #445162;
            color: #FFFFFF;
            line-height: 40px;
            text-decoration: none;
        }
        
        .lining {
            background-color: #445162;
            padding-left: 35%;
            padding-right: 35%;
        }
        
        .icon_f {
            max-width: 100%;
        }
        
        a {
            color: #FFFFFF;
            text-decoration: none;
            font-size: 18px;
            justify-content: center;
        }
        
        a>img {
            vertical-align: middle;
        }
        
        .social-links {
            display: flex;
            flex-wrap: wrap;
        }
        
        @media all and (max-width: 1024px) {
            h1,
            h2 {
                font-size: calc(100vw * 0.03);
            }
            .contacts,
            .price,
            .your_name,
            .your_message,
            h3,
            h5 {
                font-size: calc(100vw * 0.025);
            }
            h4,
            li,
            .sending,
            .contact-info,
            a,
            p {
                font-size: calc(100vw * 0.014);
            }
        }